{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "ignorePatterns": ["**/admin/**"],
    "rules": {
        "semi": ["error", "always"],
        "quotes": [2, "single"]
    }
}